# Игнорировать папку с зависимостями
node_modules/

# Игнорировать файл с переменными окружения
.env

# Игнорировать логи
*.log

# Игнорировать временные файлы редакторов
.vscode/
.idea/
.DS_Store
*.swp

